*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.App{
    background-color: #dadbd3;
    height: 100vh;
    display: grid;
    place-items: center;
}
.body_app{
    background-color: #ededed;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px #000;
    display: flex;
}
/* sidebar css style */
.sidebar{
    background-color: #fff;
    flex: 0.35;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    padding: 10px;
    background-color: #ededed;
}
.sidebar_header .MuiAvatar-circular{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.sidebar_headerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}
.sidebar_headerRight svg{
    font-size: 18px;
    color: gray;
}
.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 10px;

}
.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar_searchContainer input{
    border: 0;
    outline: none;
    margin-left: 10px;
    width: 100%;
}
.sidebar_chat{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.contactList{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}
.contactList:hover{
    cursor: pointer;
    background-color: #ebebeb;
}
.contactList_info{
    margin-left: 30px;
}
.contactList_info h2{
    font-size: 16px;
}
.contactList_info p{
    font-size: 14px;
}
.contactList>h2{
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.contactList .MuiAvatar-circular{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.contactList .timeSpan{
    position: relative;
    font-size: 14px;
    margin: auto;
    color: rgba (0,0,0,0.8);
}
.lastSeen{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;

}
/* sidebar style complete */
/* chat section start */
.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}
.chat .chat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.chat_header .MuiAvatar-circular{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.chat__headerInfo{
    flex: 1;
    margin-left: 10px;
}
.chat__headerInfo h3{
    font-size: 16px;
}

.chat__headerInfo p{
    font-size: 12px;
}
.header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
    margin-right: 15px;
    cursor: pointer;
}
.chat_body{
    background-color: #000;
    flex: 1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding: 25px 10px;
    overflow-y: auto;
}
.chat_body .chat_message{
    position: relative;
    background-color:#fff;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 30px;
   
}
.chat_name{
    position: absolute;
    top: -18px;
    left:5px;
    font-size:12px;
    font-weight:bold;
}
.chat_time{
    font-size: 11px;
    margin-left: 10px;
}
.chat_reciver{
    background-color: #d6f8c6 !important;
    margin-left: auto;
}
.chat_footer{
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat_footer:hover{
    cursor: pointer;
}
.chat_footer svg{
    padding: 10px;
    color:gray
    
}
.chat_footer form {
    flex:1
}
.chat_footer input::placeholder{ 
    padding-left: 15px;
  }

.chat_footer form input[type='text'] {
    border:0;
    height:40px;
    outline: 0;
    width: 100%;
}
.chat_footer form input[type='submit'] {
    display: none
  }



/* chat section end */
